article.article
  img.img-fluid(src = imageHref)
  h3
    a(href='/articles/'+article.clean_title, title=article.title) #{article.title.slice(0, 140)}
  p= article.body.slice(0, 400)

  .meta
    span.text-muted= moment(article.createdAt).format('DD/MM/YYYY')

    - if (article.user)
      | &nbsp; - &nbsp;
      span Postado por &nbsp;

      - var name = article.user.name ? article.user.name : article.user.username

      a(href="/users/"+article.user.username)= name

    - if (article.tags)
      | &nbsp; - &nbsp;
      span Tags &nbsp;
      each tag in article.tags.split(',').slice(0, 10)
        i.text-muted.fa.fa-tag &nbsp;
        a.tag(href="/tags/"+tag)= tag
        | &nbsp;&nbsp;
