article.article
  img.img-fluid(src = article.imageHref)
  h3
    a(href='/articles/'+article.clean_title, title=article.title) #{article.title.slice(0, 140)}
  p= article.body.slice(0, 400)
  .meta
    - if (article.user)
      - var name = article.user._id ? article.user.name : article.user.username
      span Postado por 
        b
          a(href="/users/"+article.user.username)=name
      span  em 
        b.text-muted= moment(article.createdAt).format('LLL')
    - if (article.tags)
      | &nbsp; - &nbsp;
      span Tags &nbsp;
      each tag in article.tags.split(',').slice(0, 10)
        i.text-muted.fa.fa-tag &nbsp;
        a.tag(href="/tags/"+tag)= tag
        | &nbsp;&nbsp;
