extends ../layouts/default

block main
  h1= article.title.slice(0, 400)

block content
  .row
    .col-md-8
      p=article.body.slice(0, 1000)
      .meta
        - if (article.user)
          - var name = article.user._id ? article.user.name : article.user.username
          span Postado por 
            b
              a(href="/users/"+user.username)= user.name
        span  em 
        b.text-muted= moment(article.createdAt).format('DD/MM/YYYY')
        - if (article.tags)
          p Tags &nbsp;
            each tag in article.tags.split(',').slice(0, 10)
              i.text-muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;

    .col-md-4
      - if (imageHref)
          img.img-fluid(src = imageHref)

  form(action="/articles/"+article._id, method="post" onsubmit="return confirm('Você tem certeza?')")
    input(type='hidden' name='_csrf', value=csrf_token)
    a.btn.btn-outline-primary(href='/articles/'+article._id+'/edit' title="edit") Editar
    | &nbsp;
    input(type="hidden" name="_method" value="DELETE")
    button.btn.btn-link.text-danger(type="submit") Deletar

  br
  h3 Comentários
  each comment, index in article.comments
    div(class=`py-3 ${index && 'border-top'}`)
      include ../comments/comment
  include ../comments/form
